@media (prefers-color-scheme: light) {
  /* 글 중간에 쓰는 블럭용 */
  code {
    background: #f6f8fa;
    color: #101010;
  }
  pre {
    color:#33333f;
  }
  code {
    background: #f6f8fa;
    color: #101010;
  }
  .highlight .hll { background-color: #373b41 }
  .highlight  {
   background: #f6f8fa; /* #f6f8fa */
   color: #c5c8c6;
  }
  .highlight .c { color: #969896 } /* Comment */
 .highlight .err { color: #cc6666 } /* Error */
 .highlight .k { color: #d73a49 } /* Keyword */ 
 .highlight .l { color: #de935f } /* Literal */
 .highlight .n { color: #000000 } /* Name */ 
 .highlight .o { color: #9e9d9d } /* Operator */ 
 .highlight .p { color: #000000 } /* Punctuation */
 .highlight .cm { color: #969896 } /* Comment.Multiline */
 .highlight .cp { color: #969896 } /* Comment.Preproc */
 .highlight .c1 { color: #969896 } /* Comment.Single */
 .highlight .cs { color: #969896 } /* Comment.Special */
 .highlight .gd { color: #cc6666 } /* Generic.Deleted */
.highlight .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
 .highlight .kc { color: #6f42c1 } /* Keyword.Constant */
 .highlight .kd { color: #6f42c1 } /* Keyword.Declaration */
 .highlight .kn { color: #2b9c8d } /* Keyword.Namespace */
 .highlight .kp { color: #b294bb } /* Keyword.Pseudo */
 .highlight .kr { color: #b294bb } /* Keyword.Reserved */
 .highlight .kt { color: #000000 } /* Keyword.Type */ 
 .highlight .ld { color: #b5bd68 } /* Literal.Date */
 .highlight .m { color: #de935f } /* Literal.Number */
 .highlight .s { color: #ea5eb1 } /* Literal.String */
 .highlight .na { color: #81a2be } /* Name.Attribute */
 .highlight .nb { color: #6e1c18 } /* Name.Builtin */
 .highlight .nc { color: #6f42c1 } /* Name.Class */
 .highlight .no { color: #cc6666 } /* Name.Constant */
 .highlight .nd { color: #8abeb7 } /* Name.Decorator */
 .highlight .ni { color: #c5c8c6 } /* Name.Entity */
 .highlight .ne { color: #cc6666 } /* Name.Exception */
 .highlight .nf { color: #0099FF } /* Name.Function */ 
 .highlight .nl { color: #c5c8c6 } /* Name.Label */
 .highlight .nn { color: #f0c674 } /* Name.Namespace */
 .highlight .nx { color: #81a2be } /* Name.Other */
 .highlight .py { color: #c5c8c6 } /* Name.Property */
 .highlight .nt { color: #8abeb7 } /* Name.Tag */
 .highlight .nv { color: #ab2525 } /* Name.Variable */
 .highlight .ow { color: #8abeb7 } /* Operator.Word */
 .highlight .w { color: #c5c8c6 } /* Text.Whitespace */
 .highlight .mf { color: #786DFF } /* Literal.Number.Float */
 .highlight .mh { color: #786DFF } /* Literal.Number.Hex */
 .highlight .mi { color: #786DFF } /* Literal.Number.Integer */
 .highlight .mo { color: #786DFF } /* Literal.Number.Oct */
 .highlight .sb { color: #b5bd68 } /* Literal.String.Backtick */
 .highlight .sc { color: #c5c8c6 } /* Literal.String.Char */
 .highlight .sd { color: #969896 } /* Literal.String.Doc */
 .highlight .s2 { color: #b5bd68 } /* Literal.String.Double */
 .highlight .se { color: #de935f } /* Literal.String.Escape */
 .highlight .sh { color: #b5bd68 } /* Literal.String.Heredoc */
 .highlight .si { color: #de935f } /* Literal.String.Interpol */
 .highlight .sx { color: #b5bd68 } /* Literal.String.Other */
 .highlight .sr { color: #b5bd68 } /* Literal.String.Regex */
 .highlight .s1 { color: #b5bd68 } /* Literal.String.Single */
 .highlight .ss { color: #b5bd68 } /* Literal.String.Symbol */
 .highlight .bp { color: #c5c8c6 } /* Name.Builtin.Pseudo */
 .highlight .vc { color: #cc6666 } /* Name.Variable.Class */
 .highlight .vg { color: #cc6666 } /* Name.Variable.Global */
 .highlight .vi { color: #cc6666 } /* Name.Variable.Instance */
 .highlight .il { color: #de935f } /* Literal.Number.Integer.Long */

}

@media (prefers-color-scheme: dark) {
  /* 글 중간에 쓰는 블럭용 */
  code.highlighter-rouge {
    color: var(--message-color);
    background-color: var(--message-bg-color);
  }
  .highlight .hll { background-color: #000000 }
  .highlight  {
   background: #000000; /* #f6f8fa */
   color: #ffffff;
  }
  .highlight .c { color: #6C7986 } /* Comment */
 .highlight .err { color: #cc6666 } /* Error */
 .highlight .k { color: #D31895 } /* Keyword */ 
 .highlight .l { color: #de935f } /* Literal */
 .highlight .n { color: #ffffffd9 } /* Name */ 
 .highlight .o { color: #ffffff } /* Operator */ 
 .highlight .p { color: #ffffff } /* Punctuation */
 .highlight .cm { color: #6C7986 } /* Comment.Multiline */
 .highlight .cp { color: #6C7986 } /* Comment.Preproc */
 .highlight .c1 { color: #6C7986 } /* Comment.Single */
 .highlight .cs { color: #6C7986 } /* Comment.Special */
 .highlight .gd { color: #cc6666 } /* Generic.Deleted */
.highlight .gu { color: #8abeb7; font-weight: bold } /* Generic.Subheading */
 .highlight .kc { color: #D31895 } /* Keyword.Constant */
 .highlight .kd { color: #D31895 } /* Keyword.Declaration */
 .highlight .kn { color: #2b9c8d } /* Keyword.Namespace */
 .highlight .kp { color: #b294bb } /* Keyword.Pseudo */
 .highlight .kr { color: #b294bb } /* Keyword.Reserved */
 .highlight .kt { color: #00A0FF } /* Keyword.Type */ 
 .highlight .ld { color: #b5bd68 } /* Literal.Date */
 .highlight .m { color: #de935f } /* Literal.Number */
 .highlight .s { color: #FF2C38 } /* Literal.String */
 .highlight .na { color: #81a2be } /* Name.Attribute */
 .highlight .nb { color: #00A0FF } /* Name.Builtin */
 .highlight .nc { color: #00A0FF } /* Name.Class */
 .highlight .no { color: #cc6666 } /* Name.Constant */
 .highlight .nd { color: #8abeb7 } /* Name.Decorator */
 .highlight .ni { color: #c5c8c6 } /* Name.Entity */
 .highlight .ne { color: #cc6666 } /* Name.Exception */
 .highlight .nf { color: #ff80b7 } /* Name.Function */ 
 .highlight .nl { color: #c5c8c6 } /* Name.Label */
 .highlight .nn { color: #f0c674 } /* Name.Namespace */
 .highlight .nx { color: #81a2be } /* Name.Other */
 .highlight .py { color: #c5c8c6 } /* Name.Property */
 .highlight .nt { color: #41A1C0 } /* Name.Tag */
 .highlight .nv { color: #41A1C0 } /* Name.Variable */
 .highlight .ow { color: #8abeb7 } /* Operator.Word */
 .highlight .w { color: #c5c8c6 } /* Text.Whitespace */
 .highlight .mf { color: #786DFF } /* Literal.Number.Float */
 .highlight .mh { color: #786DFF } /* Literal.Number.Hex */
 .highlight .mi { color: #786DFF } /* Literal.Number.Integer */
 .highlight .mo { color: #786DFF } /* Literal.Number.Oct */
 .highlight .sb { color: #FF2C38 } /* Literal.String.Backtick */
 .highlight .sc { color: #c5c8c6 } /* Literal.String.Char */
 .highlight .sd { color: #969896 } /* Literal.String.Doc */
 .highlight .s2 { color: #FF2C38 } /* Literal.String.Double */
 .highlight .se { color: #FF2C38 } /* Literal.String.Escape */
 .highlight .sh { color: #FF2C38 } /* Literal.String.Heredoc */
 .highlight .si { color: #FF2C38 } /* Literal.String.Interpol */
 .highlight .sx { color: #FF2C38 } /* Literal.String.Other */
 .highlight .sr { color: #FF2C38 } /* Literal.String.Regex */
 .highlight .s1 { color: #FF2C38 } /* Literal.String.Single */
 .highlight .ss { color: #FF2C38 } /* Literal.String.Symbol */
 .highlight .bp { color: #c5c8c6 } /* Name.Builtin.Pseudo */
 .highlight .vc { color: #cc6666 } /* Name.Variable.Class */
 .highlight .vg { color: #cc6666 } /* Name.Variable.Global */
 .highlight .vi { color: #cc6666 } /* Name.Variable.Instance */
 .highlight .il { color: #de935f } /* Literal.Number.Integer.Long */

}

pre, code {
  font-family: 'Menlo Regular';
  padding: 0.2em;
  font-size: 0.87em;
  letter-spacing: -0.5pt;
}

/* 글 중간에 쓰는 블럭용 */
code {
  padding: 3px 2px;
  margin: 0;
  border-radius: 4px;
  white-space: inherit;
}
pre {
  overflow: auto;
  display: block;
  padding: 1em;
  margin: 0 0 1em;
  line-height: 1.4;
  word-break: break-all;
  word-wrap: break-word;
  border-radius: 0;
  font-weight: normal;
}
pre code {
  background: transparent;
  white-space: pre;
  overflow: auto;
  word-wrap: normal;
}

.highlight  {
   margin-left: 5px !important;
   margin-right: 5px !important;
   border-radius: 5px;
}
 
.post > .highlight .lineno {
  display:inline-block;
  padding: 0 5px;
  border-right:1px solid #ccc;
}

.post > .highlight pre code { display: block; white-space: pre; overflow-x: auto; word-wrap: normal; }
