---
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
      <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5VLL8HQ"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="wrap">
      {% include sidebar.html %}
      <aside class="side-menu-in-desktop">
        {% include side-menu-in-desktop.html %}
      </aside>
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}" title="Home">HCN</a>
            <span>{{ site.tagline }}</span>
            {% if page.translate %}
            <span class="translation">
              <small>
              {% if site.lang == "en" %}
              <a href="{{ site.baseurl_root }}{{ page.url }}">한국어로 보기</a>
              {% else %}
              <a href="{{ site.baseurl_root }}/en{{ page.url }}">Read in English</a>
              {% endif %}
              </small>
            </span>
            {% endif %}
          </h3>
        </div>
      </div>
      {% if page.table-of-contents and page.table-of-contents != "" %}
      <aside class="table-of-contents">
          {% include table-of-contents.md %}
      </aside>
      {% endif %}
      <div class="container content">
        {{ content }}
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/public/js/sidebarHamburger.js"></script>
  </body>
</html>
