---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>

  {% if page.image.feature %}
  <div class="post-image-feature">
    <img class="feature-image" src=
    {% if post.image.feature contains 'http' %}
    "{{ page.image.feature }}"
    {% else %}
    "{{ site.baseurl }}/public/assets/{{ page.image.feature }}"
    {% endif %}
    alt="{{ page.title }} feature image">

    {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
    {% endif %}
  </div><!-- /.image-wrap -->
  {% endif %}

    {% capture page_date %}
    {{ page.date | date: '%s' }}
    {% endcapture %}

    {% capture last_modified_at %}
    {{ page.last_modified_at | date: '%s' }}
    {% endcapture %}

    {% capture page_date_ym %}
    {{ page.date | date: '%Y-%m' }}
    {% endcapture %}

    {% capture page_last_modified_at_ym %}
    {{ page.last_modified_at | date: '%Y-%m' }}
    {% endcapture %}

    <!-- 마지막 업데이트 날짜는 수정한 연도와 월이 다를 경우에만 노출한다 -->
    {% unless page_date_ym contains page_last_modified_at_ym %}
      {% if page_date < last_modified_at %}
      <div class="message">
        이 글은 {{ page.last_modified_at | date: '%Y년 %m월 %d일' }}에 마지막으로 업데이트 되었습니다.
      </div>
      {% endif %}
    {% endunless %}
  
  {{ content }}

  <div class="back-home">
    <a href="{{ site.url }}/">< 홈으로</a>
    <p>잘못된 정보나 궁금하신 점은 hcn1519@gmail.com으로 알려주시면 감사하겠습니다.</p>
  </div>
</div>


<div class="related">
  <h2>Related Posts</h2>
  <ul class="related-posts">
    {% for post in site.related_posts limit:3 %}
      <li>
        <h3>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {{ post.title }}
            <small>{{ post.date | date_to_string }}</small>
          </a>
        </h3>
      </li>
    {% endfor %}
  </ul>
</div>
