---
layout: default
---

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <span class="post-date">{{ page.date | date_to_string }}</span>

  {% if page.image.feature %}
  <div class="post-image-feature">
    <img class="feature-image" src=
    {% if post.image.feature contains 'http' %}
    "{{ page.image.feature }}"
    {% else %}
    "{{ site.baseurl }}/public/assets/{{ page.image.feature }}"
    {% endif %}
    alt="{{ page.title }} feature image">

    {% if page.image.credit %}
    <span class="image-credit">Photo Credit: <a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></span>
    {% endif %}
  </div><!-- /.image-wrap -->
  {% endif %}

  {% capture page_date %}
  {{ page.date | date: '%s' }}
  {% endcapture %}

  {% capture last_modified_at %}
  {{ page.last_modified_at | date: '%s' }}
  {% endcapture %}

  {% assign last_modified_at_num = last_modified_at | plus:0 %}
  {% assign page_date_num = page_date | plus:0 %}

  {% assign days_between_create_and_modify = last_modified_at_num | minus:page_date_num %}      
  {% assign days_in_sec_30 = 24 | times:3600 | times:30 %}
  
  <!-- 마지막 수정날짜와 포스트 생성 날짜가 30일 이상 차이 날 경우 업데이트 라벨 노출 -->
  {% if page_date < last_modified_at and days_between_create_and_modify > days_in_sec_30 %}
  <div class="message">
    이 글은 {{ page.last_modified_at | date: '%Y년 %m월 %d일' }}에 마지막으로 업데이트 되었습니다.
  </div>
  {% endif %}
  
  {{ content }}

<div class="related">
  
  {% assign maxRelated = 4 %}
  {% assign minCommonTags =  2 %}
  {% assign maxRelatedCounter = 0 %}
  
  {% assign visiblePostCounts = 0 %}

  {% for post in site.posts %}

    {% assign sameTagCount = 0 %}
    {% assign commonTags = '' %}

    {% for tag in post.tags %}
      {% if post.url != page.url %}
        {% if page.tags contains tag %}
          {% assign sameTagCount = sameTagCount | plus: 1 %}
          {% capture tagmarkup %} 
            <div class="tag-chips">
              <a class="tag-link" href="https://hcn1519.github.io/tags/#{{ tag }}">
                {{ tag }}
              </a>
            </div>
          {% endcapture %}
          {% assign commonTags = commonTags | append: tagmarkup %}
        {% endif %}
      {% endif %}
    {% endfor %}

    {% if sameTagCount >= minCommonTags %}
      {% if maxRelatedCounter == 0 %}
      <h2>읽어 볼만한 다른 글</h2>
      <ul class="related-posts">
      {% endif %}
        <li>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
            <small>{{ commonTags }}</small>
          </h3>
        </li>
      </li>
      {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
      {% if maxRelatedCounter >= maxRelated %}
        {% break %}
      {% endif %}
    {% endif %}

  {% endfor %}
  </ul>

  {% if maxRelatedCounter == 0 %}
    <h2>블로그 최근 글</h2>
    <ul class="related-posts">
      {% for post in site.related_posts limit:3 %}
        <li>
          <h3>
            <a href="{{ site.baseurl }}{{ post.url }}">
              {{ post.title }}
              <small>{{ post.date | date_to_string }}</small>
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

<div
  class="just-comments"
  data-allowguests="true"
  data-apikey="c4441b04-e8a2-4d8d-bf8c-e96d8d05d28b">
</div>

<div class="back-home">
    <a href="{{ site.url }}/">< 홈으로</a>
    <p>잘못된 정보나 궁금하신 점은 hcn1519@gmail.com으로 알려주시면 감사하겠습니다.</p>
  </div>
</div>